<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">User-Dashboard</ion-title>

    <ion-buttons slot="start">
      <ion-button color="light" href="home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="getLogout()">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div><h1>
    Welcome User
  </h1></div>

</ion-content>
